{% extends 'template.html' %}

{% block body %}

    {% include 'includes/_navbar.html' %}
    
    <div id="main-content">
        {% block content %}
            {% include 'includes/_pagetitle.html' %}
            <h1> Grades </h1>
            <div id="marks-wrapper">
                <h3>Here are [Username's] Grades</h3>
                <br/>
                <ul class="marks">
                  <li class="grades-item">
                    Assignment 1 - 
                    <a href="/calendar.html">View on Calendar</a>
                  </li>
                  <li class="grades-item"> Assignment 2 - 
                  </li>
                  <li class="grades-item">
                    Assignment 3 - 
                  <li class="grades-item"> Assignment 4 - 
                  </li>
                  <li class="grades-item"> Midterm - 
                  </li>
                  <li class="grades-item"> Final 2 - 
                  </li>

                  </li>
                </ul>
              </div>

    {% include 'includes/_footer.html' %}

{% endblock %}
\